
h1{
    font-family: cursive;
    margin-bottom: 15px;
}

#gif-placeholder{  
    margin: 3px;
    display:flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-evenly;
}

.image{
    height: 190px;
    width: 190px;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}

.sport-btn{
    margin-left: 10px;
    margin-bottom: 10px;
}

.container{
    margin-top: 30px;
    background-color: gray;
	opacity: 0.7;
    padding: 20px;
    height: 750px;
    width: 400px
}
body{
    background-image: url("https://images.unsplash.com/photo-1487640228478-7a32e30a9e40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1eb8b6f295d4447b593767c4b14c4e62&auto=format&fit=crop&w=1500&q=80");
    background: cover;
    background-repeat: no-repeat;
}